/* header links */

.links {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
  }
  
  .link {
    display: inline-block;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
    font-size: 1.2em;
}

/* hover glow effect */
  .hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  /* glow link */
  .glow {
    /* font-size: 80px; */
    color: #fff;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
    width: 100%;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073;
    }
    
    to {
      /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6; */
    }
  }


  /* box with bright line */

  .copy-box 
{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  background-color: #111111;
  color: #333333;
  font-family: sans-serif;
  padding: 20px;
}
.copy-box .line
{
  position: absolute;
  background-color: aqua;
  box-shadow: 0px 0px 12px aqua;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 22px;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .line
{
  border-radius: 0;
  width: 2px;
}
.copy-box .line .scanner 
{
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

.copy-box.two .line .scanner
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 50%;
}
@keyframes scanner-loop
{
  0% 
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}
.copy-box .inner 
{
  padding: 30px;
}

/* products cards */

.wrapper {
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media (max-width: 1140px) {
.wrapper {
  width: 100%;
  margin: 0 auto;
}
}
.product__list {
display: flex;
flex-direction: row;
  flex-wrap: wrap;
justify-content: center;
  margin-left: -5px;
  margin-right: -5px;
}
.product__item {
  word-wrap: break-word;
  width: calc(33.3333% - 10px);
  flex-basis: 350px;
  padding: 10px 10px 0;
  text-align: center;
  background: #ffffff14;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  border: 1px solid #181818;

}
.product__item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.product__img {
  margin: 10px auto;
  width: 95%;
  max-height: 210px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.product__img img {
  max-width: 100%;
  height: auto;    
}
.product__stock{
  font-size: 16px;
  left: 0;
  padding: 8px;
  position: absolute;
  top: 0;
  background: #e74c3c;
  color: #fff;
}
.product__content {
display: flex;
flex-direction: column;
}
.product__title {
  font-size: 20px;
  margin: 10px;
  color: var(--pink);
}
.product__subtitle {
  margin: 10px 10px 30px;
  color: rgb(235, 229, 229);
}
.product__weight {
  color: #161616;
}
.product__info {
display: flex;
justify-content: space-around;
margin: auto 10px 20px;
}
.product__price {
  color: #56e666;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
   
}

.btn {
  width: 50%;
  text-align: center;
  line-height: 46px;
  padding: 5px;
}
.product__btn {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e7e7e7;

  margin-left: -10px;
  margin-right: -10px;
}
.btn__more {
  color: #e7e7e7;
  border-right: 1px solid #e7e7e7;
}
.btn__more:hover {
  background: #ecdeec8a;
  color: #fff;
  border-right: 1px solid #33495d;
}
.btn__cart {
  color: #fff;
  background: #09070842;
}
.btn__cart:hover {
  color: #fff;
  background: #ecdeec8a;
}